body {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Cul {
  list-style-type: none;
}

.hive {
  position: fixed;
  margin-left: 50%;
}

.ng {
  position: fixed;
  margin-left: 80%;
}

.cc {
  position: fixed;
  margin-left: 20%;
}

.configs {
  position: fixed;
  margin-top: 6%;
}

.discord-button {
  background-color: #7289da;
  border: none;
  color: rgb(255, 255, 255);
  padding: 19px 32px;
  text-align: center;
  position: fixed;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto Medium", sans-serif;
  border-radius: 15px;
  margin-top: 35%;
  margin-left: calc(50% - 100px);
}

.discord-button:hover {
  background-color: #5b77dc;
  color: white;
  transition: 0.2s;
}

.title {
    position: fixed;
    margin-left: calc(50% - 157px);
}

.root {
  margin-top: 3%;
  position: fixed;
}

.chive {
  margin-left: -41px;
}

.cng {
  margin-left: 29px;
}

.ccc {
  margin-left: 5px;
}